<% own_company_skills = @profile.own_company_skills %>
<% own_company_skills_names = own_company_skills.map { |skill| skill.name } %>	
		
<% is_included = own_company_skills_names.include? company_skill.name %>

<% if is_included %>

	<%= link_to profile_own_company_skill_path(@profile, id: company_skill), method: :delete, remote: true, class: "btn-round md green" do  %>
		<div class="name">
			<%= company_skill.name %>
		</div>
		<i class="fa fa-check-circle-o icon" aria-hidden="true"></i>
	<% end %>
	
<% else %>
	
	<%= link_to profile_own_company_skills_path(@profile, company_skill_id: company_skill), method: :post, remote: true, class: "btn-round md gray" do  %>
		<div class="name">
			<%= company_skill.name %>
		</div>
		<i class="fa fa-check-circle-o icon" aria-hidden="true"></i>
	<% end %>
	
<% end %>



