<% company_skills.each do |company_skill| %>

	<div class="company-skill-wrapper" data-company-skill-id="<%= company_skill.id %>">
		
		<%= render "profiles/company_skill_wrapper", company_skill: company_skill %>
	</div>

<% end %>