.banner {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: rgb(245,245,245);
	.pics-grid {
		display: flex;
		flex-direction: column;
		.roww {
			display: flex;
			flex-direction: row;
		}
		.pic {
			width: 110px;
			height: 110px;
			border: 1px solid rgb(200,200,200);
		}
	}
	.slogan {
		// background-color: white;
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.l1 {
			font-size: 60px;
			font-family: 'Satisfy', cursive;


		}
		.l2 {
			font-size: 40px;
			font-family: 'Satisfy', cursive;


		}
	}
}

.landing-page.title {
	text-align: center;
}

.landing-skills-block {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 140px;
	background-color: white;
	.skills {
		display: flex;
		flex-direction: column;
		.srow {
			display: flex;
		}
	}
	.skill {
		width: 80px;
		height: 80px;
		border-radius: 50%;
		background-color: rgb(40,40,40);
		color: white;
		font-size: 14px;
		margin: 8px;
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	.explanation {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 500px;
		.title {
			font-weight: bold;
			font-size: 34px;
			color: black;
		}
		.text {
			margin-top: 20px;
			font-size: 18px;
			color: black;
		}
	}
	.padding-explanation-left {
		padding-left: 100px;
	}
}

.montserrat {
	font-family: 'Montserrat', sans-serif;
}







