<%= link_to own_skill_path(own_skill), method: :delete, class: "btn-round md green" do  %>
	<div class="name">
		<%= own_skill.name %>
	</div>
	<i class="fa fa-times icon" aria-hidden="true"></i>
<% end %>