
<div class="footer-wrapper-web">
  <div class="links-wrapper-web links-wrapper-web-pos-left">
    <ul>
      <li class="footer-web-font">Contact</li>
      <li class="footer-web-font">Training</li>
      <li class="footer-web-font">Impressum</li>
    </ul>
  </div>
  <div class="logo-wrapper-web">
    <img src="http://www.waygroup.de/wp-content/themes/waygroup/dist/svgs/way-group-logo.svg" alt="" class="logo-footer-web">
  </div>
  <div class="links-wrapper-web links-wrapper-web-pos-right">
    <ul>
      <li>
        <i class="fa fa-linkedin footer-web-icon" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-xing footer-web-icon" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-facebook footer-web-icon" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-twitter footer-web-icon" aria-hidden="true"></i>
      </li>
      <li>
        <i class="fa fa-youtube footer-web-icon" aria-hidden="true"></i>
      </li>
    </ul>
  </div>
</div>






