<div class="navbar">
	<div class="logo">
		
	</div>
	<div class="search">
	  <input type="text" name="firstname" placeholder="hello">
	  <div class="search-icon">
	  	<i class="fa fa-search" aria-hidden="true"></i>
	  </div>
	</div>
	  
	<div class="apps">
		
	</div>
	<div class="avatar">
		
	</div>
</div>