<div class="navbar">
	<div class="logo">
		Way
	</div>
	<div class="search">
	  <input type="text" name="firstname" placeholder="hello">
	  <div class="icon">
	  	<i class="fa fa-search" aria-hidden="true"></i>
	  </div>
	</div>

	<div class="right-navbar">
		<div class="apps">
			
		</div>
		<div class="avatar">
			
		</div>
	</div>
	  
</div>