<div class="navbar">

	<div class="left-navbar">
		<div class="logo">
			<%= image_tag("way-book-edited", size: "100x25") %>
		</div>

		<form action="/search_employee">
		  <input type="text" name="name" placeholder="Search employee">
		  <input type="submit" value="Submit">
		</form>

		<div class="search">
		  <input type="text" name="firstname" placeholder="Search">
		  <div class="icon">
		  	<i class="fa fa-search" aria-hidden="true"></i>
		  </div>
		</div>
	</div>



	<div class="right-navbar">
		<div class="apps">
			<i class="fa fa-th" aria-hidden="true"></i>
		</div>
		
		<img class="avatar" id="" src="http://kitt.lewagon.com/placeholder/users/albertmontolio" alt="Albertmontolio">
		
	</div>
	  
</div>