<% company_skills.each do |company_skill| %>
	<div data-company-skill-index-id="<%= company_skill.id %>">
		<%= render "own_company_skills/index_general_company_skill", company_skill: company_skill %>
	</div>
<% end %>