<% pic_urls = [] %>
<% 30.times do |i| %>
	<% pic_urls << "pic#{i + 1}.png" %>
<% end %>

<% skills = ["gAMS", "NAELs", "SE-Team Leiter", "Modul Leiter", "R", "Visual Basic", "JavaScript", "Java", "HTML", "CSS", "ActiveRecord", "Ruby", "Ruby on Rails", "Heroku", "Rspec", "Negotiation", "Lieferanten", "Idias", "F.E.M.", "Carbon Fiber", "Industrialisierung", "Project Management", "Sales", "MAN", "Entwicklungsingenieur", "Kunstoff", "Adhesive", "Presswerkstoffe", "Internet of things", "selbstfahrende Autos" ] %>
	
<div class="landing-page">
	
	<div class="banner">
		<div class="pics-grid">
			<% j = 0 %>
			<% 5.times do |i| %>
				<div class="roww">
					<% 6.times do |i| %>
						<%= image_tag(pic_urls[j], size: "110x110") %>
						<div class="pic-skill hide">
							<%= skills[j] %>
						</div>
						<% j = j + 1 %>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="slogan">
			<div class="l1">
				WAY Book
			</div>
			<div class="l2">
				Find the skills that you need
			</div>
		</div>
	</div>

	<div class="landing-skills-block">
		<div class="skills">
			<% j = 0 %>
			<% 4.times do |i| %>
				<div class="srow">
					<% 4.times do |i| %>
						<div class="skill">
							<%= skills[j] %>
						</div>
						<% j = j + 1 %>
					<% end %>
				</div>
			<% end %>

		</div>
		<div class="explanation padding-explanation-left">
			<div class="title">
				Find what you are looking for
			</div>
			<div class="text montserrat">	
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum numquam, commodi officia sapiente quibusdam dolor maxime sunt. Iste nemo ex aliquam eligendi impedit est, accusantium, voluptatem sed quam tempore sapiente?
			</div>
		</div>
	</div>

	<div class="landing-skills-block">
		<div class="explanation">
			<div class="title">
				Find what you are looking for
			</div>
			<div class="text montserrat">	
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum numquam, commodi officia sapiente quibusdam dolor maxime sunt. Iste nemo ex aliquam eligendi impedit est, accusantium, voluptatem sed quam tempore sapiente?
			</div>
		</div>

		<div class="skills padding-explanation-left">
			<% j = 0 %>
			<% 4.times do |i| %>
				<div class="srow">
					<% 4.times do |i| %>
						<div class="skill">
							<%= image_tag(pic_urls[j], size: "80x80") %>
						</div>
						<% j = j + 1 %>
					<% end %>
				</div>
			<% end %>

		</div>
		
	</div>

</div>













