<% pic_urls = [] %>
<% 30.times do |i| %>
	<% pic_urls << "pic#{i + 1}.png" %>
<% end %>

<% skills = ["gAMS", "NAELs", "SE-Team Leiter", "Modul Leiter", "R", "Visual Basic", "JavaScript", "Java", "HTML", "CSS", "ActiveRecord", "Ruby", "Ruby on Rails", "Heroku", "Rspec", "Negotiation", "Lieferanten", "Idias", "F.E.M.", "Carbon Fiber", "Industrialisierung", "Project Management", "Sales", "MAN", "Entwicklungsingenieur", "Kunstoff", "Adhesive", "Presswerkstoffe", "Internet of things", "selbstfahrende Autos" ] %>

<div class="landing-page">

	<div class="banner">
		<div class="pics-grid">
			<% j = 0 %>
			<% 5.times do |i| %>
				<div class="roww">
					<% 6.times do |i| %>
						<%= image_tag(pic_urls[j], size: "110x110") %>
						<div class="pic-skill hide">
							<%= skills[j] %>
						</div>
						<% j = j + 1 %>
					<% end %>
				</div>
			<% end %>
		</div>
		<div class="slogan">
			<div class="l1">
				Skills Book
			</div>
			<div class="l2">
				Find the skills that you need
			</div>
		</div>
	</div>

	<div class="landing-skills-block">
		<div class="skills">
			<% j = 0 %>
			<% 4.times do |i| %>
				<div class="srow">
					<% 4.times do |i| %>
						<div class="skill">
							<%= skills[j] %>
						</div>
						<% j = j + 1 %>
					<% end %>
				</div>
			<% end %>

		</div>
		<div class="explanation padding-explanation-left">
			<div class="title">
				Look in our data base for skills
			</div>
			<div class="text montserrat">
				How often do you need something easy to be done, but you are not an expert in the area and it takes ages to get it done? Now you can find support among your peers. Just tip what you need and contact the colleague.
			</div>
		</div>
	</div>

	<div class="landing-skills-block last-padding-bottom">
		<div class="explanation">
			<div class="title">
				Behind every skill, one colleague
			</div>
			<div class="text montserrat">
				You can not only find skills that you need for a specific task, you can find employees that have specific skills, in order to assign them into new projects.
			</div>
		</div>

		<div class="skills padding-explanation-left">
			<% j = 0 %>
			<% 4.times do |i| %>
				<div class="srow">
					<% 4.times do |i| %>
						<div class="skill">
							<%= image_tag(pic_urls[j], size: "80x80") %>
						</div>
						<% j = j + 1 %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

	<div class="catchy-sentence-block">

	</div>

</div>













