.index-filter-results-panels {
	background-color: white;
	margin-left: 60px;
	margin-right: 60px;
	
	margin-top: 2px;
	box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.06);
	display: flex;
	justify-content: center;
	align-items: center;
}
.index-filter-results-panels.title {
	color: rgb(100,100,100);
	font-size: 14px;
	font-weight: lighter;
	padding: 5px;
	margin-bottom: 2px;
}


.filtered_company_skills {
	color: rgb(100,100,100);
	font-size: 14px;
	font-weight: lighter;
	padding: 5px;
	.skills {
		display: flex;
		margin-right: 10px;
	}
}


.filter_results {
	margin-bottom: 70px;
	height: 40px;
	
	.message {
		display: flex;
		color: rgb(100,100,100);
		font-size: 14px;
		font-weight: lighter;
		margin-left: 10px;
	}
	i {
		color: rgb(140,140,140);
		font-size: 14px;
		font-weight: lighter;
	}
	.num-profiles {
		margin-left: 8px;
	}
}

