.contact-info {
	margin: 10px 60px;
	background-color: white;
}

.profile-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	padding: 0px 60px;
	margin: 6px 0px 30px 0px;
	.skills-wrapper, .projects-wrapper {
		height: 340px;
	} 
	.skills-wrapper {
		background-color: white;
		width: 600px;
		margin: 0px 10px;
		padding: 30px 20px;
		overflow-y: scroll;
	}
	.skills-profils {
		// padding: 0px 6px;
	}
	.projects-wrapper {
		width: 300px;
		background-color: white;
		overflow-y: scroll;
	}
}